<div id="main" class="palm-hasheader">
     <div class="palm-header">Header</div>
	<div class="palm-group">
		<div class="palm-group-title">Background Sync Options</div>
		<div class="palm-list">
			<div class="palm-row first">
				<div class="palm-row-wrapper">
					<div x-mojo-element="ToggleButton" class="left" id="auto-sync"></div>
					<div class="title right">Automatic Sync</div>
				</div>
			</div>
			<div class="palm-row">
				<div class="palm-row-wrapper textfield-group" x-mojo-focus-highlight="true">
					<div class="label">interval</div>
					<div id="sync-interval" x-mojo-element="SmartTextField"></div>
				</div>
			</div>
			<div class="palm-row last">
				<div class="palm-row-wrapper">
					<div x-mojo-element="CheckBox" class="left" id="show-notification"></div>
					<div class="title right">Show Notification</div>
				</div>
			</div>
		</div>
	</div>     
 </div>